@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables.sass";

// General colors

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

$background: $black-ter;

$border: $grey-darker;
$border-hover: $grey-dark;
$border-light: $grey-darker;
$border-light-hover: $grey-dark;

// Text colors

$text: $grey-light;
$text-invert: $grey-darker;
$text-light: $grey;
$text-strong: $white;

// Link colors

$link-hover: $white;
$link-hover-border: $grey-dark;

$link-focus: $white;
$link-focus-border: $blue;

$link-active: $white;
$link-active-border: $grey-light;

@import "~bulma/bulma";

.socials {
  .icon {
    margin: 0 0.5rem;
    
    :hover {
      cursor: pointer;
    }

    i {
      height: 100%;
      width: 100%;   
    }
    
    i.fb {      
      background: url("./assets/fb.svg");
    }

    i.gh {      
      background: url("./assets/gh.svg");
    }

    i.ig {      
      background: url("./assets/ig.svg");
    }

    i.li {      
      background: url("./assets/li.svg");
    }

    i.of {      
      background: url("./assets/of.svg");
    }
  }
}

.section.hero {
  padding: 0 0 3rem;
}

.hero-image {
  background: url("./assets/profile1080.png") 50% -200px no-repeat fixed;
  padding-top: 300px;

  .fade {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    height: 100px;
  }
}
