@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables.sass";

// General colors

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

// Text colors

$text: $grey-light;
$text-invert: $grey-darker;
$text-light: $grey;
$text-strong: $white;

// Link colors

$link-hover: $white;
$link-hover-border: $grey-dark;

$link-focus: $white;
$link-focus-border: $blue;

$link-active: $white;
$link-active-border: $grey-light;

$card-background-color: $scheme-main-bis;

@import "~bulma/bulma";

.hero {
  padding: 0 0 3rem;

  .hero-image {
    background: url("./assets/profile1080.png") 50% -200px no-repeat fixed;
    padding-top: 300px;
  
    .fade {
      background: linear-gradient(to bottom, rgba(0,0,0,0), $scheme-main);
      height: 100px;
    }
  }
}

.title {
  &:not(.hero &) {
    text-transform: uppercase;
  }
}

.socials {
  .icon {
    margin: 0 0.5rem;

    &:hover {
      cursor: pointer;
    }

    i {
      height: 100%;
      width: 100%;

      &.fb {      
        background: url("./assets/fb.svg");
      }
  
      &.gh {      
        background: url("./assets/gh.svg");
      }
  
      &.ig {      
        background: url("./assets/ig.svg");
      }
  
      &.li {      
        background: url("./assets/li.svg");
      }
  
      &.of {      
        background: url("./assets/of.svg");
      }
    }
  }
}

.timeline {
  .card {
    margin-bottom: 1rem;

    .card-header-subtitle {
      @extend .card-header-title;

      color: $text;
      flex-grow: 0;
      font-weight: 400;
    }
  }
}
