@charset "utf-8";
@import "~minireset.css/minireset";

$text: hsl(0, 0%, 71%);
$text-strong: white;
$background: black;

body {
  color: $text;
  background-color: $background;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {  
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em 
}

strong, .strong {
  color: $text-strong;
}

section {
  padding: 1.5rem;

  &.hero {
    padding: 0 0 1.5rem 0;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  
  @media screen and (max-width: 768px) {
    flex-direction: column;

    .column {
      padding: 1.5rem 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
  
  @media screen and (min-width: 769px) {
    flex-direction: row;

    .column {
      padding: 0 1.5rem;

      &.half {
        width: 50%;
      }
    
      &.third {
        width: 33.3333%;
      }
    
      &.quarter {
        width: 25%;
      }
    }
  }  
}

.hero {
  text-align: center;

  .hero-image {
    background-attachment: fixed;
    background-image: url("./assets/profile1080.png");
    background-position: 50% -200px;
    background-repeat: no-repeat;
    padding-top: 300px;
  
    .fade {
      background: linear-gradient(to bottom, rgba(0,0,0,0), $background);
      height: 100px;
    }
  }
}

.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-flex;
  height: 1.5rem;
  margin: auto 0.5rem;
  width: 1.5rem;

  &.large {
    height: 3rem;
    width: 3rem;
  }

  &.fb {      
    background-image: url("./assets/fb.svg");
  }

  &.gh {      
    background-image: url("./assets/gh.svg");
  }

  &.ig {      
    background-image: url("./assets/ig.svg");
  }

  &.li {      
    background-image: url("./assets/li.svg");
  }

  &.of {      
    background-image: url("./assets/of.svg");

    &:hover {
      cursor: pointer;
    }
  }

  &.mtch {      
    background-image: url("./assets/mtch.svg");
  }

  &.clh {
    background-image: url("./assets/clh.png");
  }

  &.fp {
    background-image: url("./assets/fp.png");
  }

  &.node {
    background-image: url("./assets/timeline-node.svg");

    &.active {
      background-image: url("./assets/timeline-node-pulse.svg"), url("./assets/timeline-node.svg");
    }
  }
}

.timeline {
  .timeline-header, .timeline-row {
    display: flex;
    padding: 0.75rem 1rem
  }

  .timeline-row {
    background-image: url("./assets/timeline-line.svg");
    background-position-x: 46px;
    background-repeat: no-repeat;

    &:first-of-type {
      background-image: url("./assets/timeline-line-top.svg");
    }

    &:last-of-type {
      background-image: url("./assets/timeline-line-bottom.svg");
    }
  }
}
